Flow-InsuranceProvider.json
[{"id":"3ebfa0a7.44679","type":"tab","label":"Insurance","disabled":false,"info":""},{"id":"c8eb5db9.3c0ab","type":"function","z":"3ebfa0a7.44679","name":"Get Point","func":"var res=msg.payload;\nmsg.payload=res.AffectedPoints;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":160,"wires":[["9c3792c3.dcc17","45a01c23.b45204"]]},{"id":"9c3792c3.dcc17","type":"delay","z":"3ebfa0a7.44679","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":100,"wires":[["20d9dd67.08c112","aea32aee.baee78"]]},{"id":"45a01c23.b45204","type":"function","z":"3ebfa0a7.44679","name":"Clear","func":"msg.payload = {name:\"pune\", deleted:true, command:{clear:\"marked\" }};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":220,"wires":[["aea32aee.baee78"]]},{"id":"aea32aee.baee78","type":"worldmap","z":"3ebfa0a7.44679","name":"","lat":"20","lon":"85","zoom":"3","layer":"Esri Ocean","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","path":"/worldmap","x":720,"y":160,"wires":[]},{"id":"c7cf8e59.d1cae","type":"inject","z":"3ebfa0a7.44679","name":"","props":[{"p":"payload","v":"{}","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"{}","payloadType":"json","x":290,"y":40,"wires":[["68966804.8d59f8"]]},{"id":"68966804.8d59f8","type":"template","z":"3ebfa0a7.44679","name":"Display","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"/worldmap\" height=320 width=670></iframe>","output":"str","x":440,"y":40,"wires":[["cd51f2c4.43346"]]},{"id":"cd51f2c4.43346","type":"ui_template","z":"3ebfa0a7.44679","group":"72cbabd0.79d814","name":"Map","order":1,"width":0,"height":0,"format":"<div align=center ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":590,"y":40,"wires":[[]]},{"id":"e5138881.c36d98","type":"ui_form","z":"3ebfa0a7.44679","name":"","label":"","group":"91d989bb.c97058","order":1,"width":0,"height":0,"options":[{"label":"Country","value":"Country","type":"text","required":true,"rows":null},{"label":"States","value":"States","type":"text","required":true,"rows":null},{"label":"Date From","value":"Date From","type":"date","required":true,"rows":null},{"label":"Date To","value":"Date To","type":"date","required":true,"rows":null},{"label":"Event Type","value":"Event Type","type":"text","required":true,"rows":null}],"formValue":{"Country":"","States":"","Date From":"","Date To":"","Event Type":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":420,"wires":[["5601078.dd1fff8","e563393c.7156b8","20729304.a453fc"]]},{"id":"e8fa4b81.875168","type":"function","z":"3ebfa0a7.44679","name":"","func":"msg.payload={\"Country\":\"IND\",\"States\":\"WB\",\"Date From\":\"2020-05-11T18:30:00.000Z\",\"Date To\":\"2020-07-23T18:30:00.000Z\",\"Event Type\":\"EARTHQ\",\"AffectedPoints\":[{\"lat\":22.31,\"lon\":88.66,\"name\":\"Canning\",\"radius\":300,\"layer\":\"marked\",\"pin\":700134},{\"lat\":22.57,\"lon\":88.36,\"name\":\"Kolkata\",\"radius\":300,\"layer\":\"marked\",\"pin\":700178},{\"lat\":27.53,\"lon\":88.51,\"name\":\"Sikkim\",\"radius\":300,\"layer\":\"marked\",\"pin\":700145}]};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":260,"wires":[["c8eb5db9.3c0ab"]]},{"id":"37485a76.0bf716","type":"debug","z":"3ebfa0a7.44679","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":300,"wires":[]},{"id":"40b9073e.d63928","type":"ui_table","z":"3ebfa0a7.44679","group":"2109e185.165ace","name":"Data Requested","order":1,"width":0,"height":0,"columns":[],"outputs":0,"cts":false,"x":920,"y":440,"wires":[]},{"id":"7e284814.343518","type":"function","z":"3ebfa0a7.44679","name":"Request from Insurer","func":"\nmsg.payload=[msg.payload];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":380,"wires":[["40b9073e.d63928","37485a76.0bf716"]]},{"id":"5601078.dd1fff8","type":"change","z":"3ebfa0a7.44679","name":"","rules":[{"t":"set","p":"payload.Status","pt":"msg","to":"Requested","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":380,"wires":[["7e284814.343518"]]},{"id":"e563393c.7156b8","type":"delay","z":"3ebfa0a7.44679","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":500,"wires":[["da6bbe74.f7624"]]},{"id":"da6bbe74.f7624","type":"change","z":"3ebfa0a7.44679","name":"","rules":[{"t":"set","p":"payload.Status","pt":"msg","to":"Processed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":451,"y":460,"wires":[["7e284814.343518"]]},{"id":"122f6a5b.3db5d6","type":"inject","z":"3ebfa0a7.44679","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":600,"wires":[["b3bfcaf8.433628","45a01c23.b45204","270cfbb4.068b24"]]},{"id":"b3bfcaf8.433628","type":"function","z":"3ebfa0a7.44679","name":"","func":"msg.payload=[\n    \n    {\n        \"Country\": \"\",\n        \"States\": \"\",\n        \"Date From\": \"\",\n        \"Date To\": \"\",\n        \"Event Type\": \"\",\n        \"Status\": \"\"\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":580,"wires":[["40b9073e.d63928"]]},{"id":"20729304.a453fc","type":"delay","z":"3ebfa0a7.44679","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":320,"wires":[["e8fa4b81.875168"]]},{"id":"20d9dd67.08c112","type":"function","z":"3ebfa0a7.44679","name":"Show Insured Data","func":"msg.payload=[\n    \n    {\n        \n        \"Name\":\"Samir Marik\",\n        \"Address\":\"1/3-Hospital Road,Canning,South 24 PGS\",\n        \"Zip Code\":\"743329\",\n        \"Contact\":\"+91 9163177768\",\n        \"Incident Date\":\"2020-07-03T18:30:00.000Z\",\n        \"Severity\":\"High\"\n        \n    },\n     {\n        \n        \"Name\":\"Nabin Maity\",\n        \"Address\":\"98 Purbachal Road, Kolkata\",\n        \"Zip Code\":\"700094\",\n        \"Contact\":\"+91 9163175768\",\n        \"Incident Date\":\"2020-07-03T18:30:00.000Z\",\n        \"Severity\":\"Medium\"\n        \n    },\n    {\n        \n        \"Name\":\"Parekh Li\",\n        \"Address\":\"3/4 MG MArg Road, Gangtok\",\n        \"Zip Code\":\"737101\",\n        \"Contact\":\"+91 9163179768\",\n        \"Incident Date\":\"2020-07-03T18:30:00.000Z\",\n        \"Severity\":\"Low\"\n        \n    }\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":100,"wires":[["de4395bd.f37368"]]},{"id":"de4395bd.f37368","type":"ui_table","z":"3ebfa0a7.44679","group":"ce0895f4.83b278","name":"Insured Information","order":1,"width":0,"height":0,"columns":[],"outputs":0,"cts":false,"x":970,"y":100,"wires":[]},{"id":"270cfbb4.068b24","type":"function","z":"3ebfa0a7.44679","name":"","func":"msg.payload=[\n    \n    {\n        \n        \"Name\":\"\",\n        \"Address\":\"\",\n        \"Zip Code\":\"\",\n        \"Contact\":\"\",\n        \"Incident Date\":\"\",\n        \"Severity\":\"\"\n        \n    }\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":300,"wires":[["de4395bd.f37368"]]},{"id":"72cbabd0.79d814","type":"ui_group","z":"","name":"Insurer MAP","tab":"3560cd0c.2c99d2","order":1,"disp":false,"width":"15","collapse":false},{"id":"91d989bb.c97058","type":"ui_group","z":"","name":"Observation Criteria","tab":"3560cd0c.2c99d2","order":2,"disp":true,"width":"5","collapse":false},{"id":"2109e185.165ace","type":"ui_group","z":"","name":"Observation Details","tab":"3560cd0c.2c99d2","order":3,"disp":true,"width":20,"collapse":false},{"id":"ce0895f4.83b278","type":"ui_group","z":"","name":"Insured Information","tab":"3560cd0c.2c99d2","order":4,"disp":true,"width":20,"collapse":false},{"id":"3560cd0c.2c99d2","type":"ui_tab","z":"","name":"Umbrella Insurance","icon":"dashboard","order":2,"disabled":false,"hidden":false}]