Flow-Anterior.json
[{"id":"adc7ed17.b9fea","type":"tab","label":"Anterior Platform","disabled":false,"info":""},{"id":"96c50268.26234","type":"inject","z":"adc7ed17.b9fea","name":"","props":[{"p":"payload","v":"{}","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"{}","payloadType":"json","x":210,"y":60,"wires":[["6481c53a.9efa2c"]]},{"id":"6481c53a.9efa2c","type":"template","z":"adc7ed17.b9fea","name":"Display","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"/worldmap\" height=320 width=670></iframe>","output":"str","x":360,"y":60,"wires":[["a5c5d6af.5d0bb8"]]},{"id":"a5c5d6af.5d0bb8","type":"ui_template","z":"adc7ed17.b9fea","group":"46625ab.5b8fba4","name":"Map","order":1,"width":13,"height":7,"format":"<div align=center ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":510,"y":60,"wires":[[]]},{"id":"75c8db69.a38804","type":"function","z":"adc7ed17.b9fea","name":"Data Received","func":"msg.payload=[\n    {\n    \"lat\": 22.31,\n    \"lon\": 88.66,\n    \"name\": \"Canning\",\n    \"radius\": 300,\n    \"layer\":\"marked\",\n    \"pin\":700134\n\t\n    },\n    {\n    \"lat\": 22.57,\n    \"lon\": 88.36,\n    \"name\": \"Kolkata\",\n    \"radius\": 300,\n    \"layer\":\"marked\",\n    \"pin\":700178\n    },\n    {\n    \"lat\": 27.53,\n    \"lon\": 88.51,\n    \"name\": \"Sikkim\",\n    \"radius\": 300,\n    \"layer\":\"marked\",\n    \"pin\":700145\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":260,"wires":[["c81a488.cadccb8","6869cb82.584f44","8e84bf9b.7eac7"]]},{"id":"8e84bf9b.7eac7","type":"function","z":"adc7ed17.b9fea","name":"Clear","func":"msg.payload = {name:\"pune\", deleted:true, command:{clear:\"marked\" }};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":260,"wires":[["6f450641.a56da8"]]},{"id":"6869cb82.584f44","type":"delay","z":"adc7ed17.b9fea","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":140,"wires":[["6f450641.a56da8"]]},{"id":"2703e784.b6bdf8","type":"http request","z":"adc7ed17.b9fea","name":"BlockChain API","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":200,"y":140,"wires":[[]]},{"id":"c81a488.cadccb8","type":"debug","z":"adc7ed17.b9fea","name":"To Blockchain API","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":300,"wires":[]},{"id":"268e1c1a.f20794","type":"debug","z":"adc7ed17.b9fea","name":"status change","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":340,"wires":[]},{"id":"fba8c8f5.214dc8","type":"function","z":"adc7ed17.b9fea","name":"Observation criteria","func":"msg.payload=[\n    \n    {\n        \"Country\": \"IND\",\n        \"States\": \"WB\",\n        \"Date From\": \"2020-07-12T18:30:00.000Z\",\n        \"Date To\": \"2020-08-03T18:30:00.000Z\",\n        \"Event Type\": \"Storm\",\n        \"Status\": \"Requested\"\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":560,"wires":[["b3af1d0f.83f6c","c9edce2.4f2713","a7a8ef1b.a6dc2"]]},{"id":"cf9c1d27.688dc","type":"inject","z":"adc7ed17.b9fea","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"8","topic":"","payload":"","payloadType":"date","x":130,"y":500,"wires":[["c1e2ee86.1d886","1f252364.9f4d8d"]]},{"id":"b3af1d0f.83f6c","type":"debug","z":"adc7ed17.b9fea","name":"Initial state","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":540,"wires":[]},{"id":"c9edce2.4f2713","type":"delay","z":"adc7ed17.b9fea","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":400,"wires":[["ff226880.28cb78"]]},{"id":"ff226880.28cb78","type":"function","z":"adc7ed17.b9fea","name":"Updated status","func":"msg.payload=[\n    \n    {\n        \"Country\": \"IND\",\n        \"States\": \"WB\",\n        \"Date From\": \"2020-07-12T18:30:00.000Z\",\n        \"Date To\": \"2020-08-03T18:30:00.000Z\",\n        \"Event Type\": \"Storm\",\n        \"Status\": \"Processed\"\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":340,"wires":[["268e1c1a.f20794","a7a8ef1b.a6dc2"]]},{"id":"a55834ae.249a18","type":"debug","z":"adc7ed17.b9fea","name":"PLot details","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":100,"wires":[]},{"id":"6f450641.a56da8","type":"worldmap","z":"adc7ed17.b9fea","name":"","lat":"20","lon":"85","zoom":"3","layer":"Esri Ocean","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","path":"/worldmap","x":740,"y":200,"wires":[]},{"id":"a7a8ef1b.a6dc2","type":"ui_table","z":"adc7ed17.b9fea","group":"85915a58.dbfb08","name":"Data Requested","order":1,"width":0,"height":0,"columns":[],"outputs":0,"cts":false,"x":760,"y":440,"wires":[]},{"id":"c1e2ee86.1d886","type":"delay","z":"adc7ed17.b9fea","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":560,"wires":[["fba8c8f5.214dc8"]]},{"id":"1f252364.9f4d8d","type":"delay","z":"adc7ed17.b9fea","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":360,"wires":[["75c8db69.a38804"]]},{"id":"85d0b5f6.faf3a8","type":"function","z":"adc7ed17.b9fea","name":"","func":"msg.payload=[\n    \n    {\n        \"Country\": \"\",\n        \"States\": \"\",\n        \"Date From\": \"\",\n        \"Date To\": \"\",\n        \"Event Type\": \"\",\n        \"Status\": \"\"\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":500,"wires":[["a7a8ef1b.a6dc2"]]},{"id":"93ef5185.5e1a7","type":"inject","z":"adc7ed17.b9fea","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":440,"wires":[["85d0b5f6.faf3a8"]]},{"id":"46625ab.5b8fba4","type":"ui_group","z":"","name":"Map","tab":"ca5e2297.87dd5","order":1,"disp":false,"width":13,"collapse":false},{"id":"85915a58.dbfb08","type":"ui_group","z":"","name":"Recent observation","tab":"ca5e2297.87dd5","order":2,"disp":true,"width":"15","collapse":false},{"id":"ca5e2297.87dd5","type":"ui_tab","z":"","name":"Anterior","icon":"Anterior","disabled":false,"hidden":false}]